<div class="footer">
    <div class="content">
        <div class="left">
            <div class="card">
                <div class="title">Company</div>
                <div class="menu-item">About Us</div>
                <div class="menu-item">Blog</div>
                <div class="menu-item">Careers</div>
                <div class="menu-item">Contact Us</div>
                <span class="material-symbols-outlined menu">expand_more</span>
            </div>
            <div class="card">
                <div class="title">Support</div>
                <div class="menu-item">Help Center</div>
                <div class="menu-item">Safety Center</div>
                <div class="menu-item">Community</div>
                <span class="material-symbols-outlined menu">expand_more</span>
            </div>
            <div class="card">
                <div class="title">Legal</div>
                <div class="menu-item">Kookies Policy</div>
                <div class="menu-item">Privacy Policy</div>
                <div class="menu-item">Terms of Service</div>
                <span class="material-symbols-outlined menu">expand_more</span>
            </div>
        </div>
        <div class="right">
            <div class="title">Install App</div>
            <img class="app" src="/assets/googleplayft.png">
            <img class="app" src="/assets/appstoreft.png">
        </div>
    </div>
    <div class="reserved">
        <div class="content-reserved">
            <div class="text"><span class="material-symbols-outlined icon">copyright</span> 2020 - All rights reserved</div>
            <div class="social-media">
                <img src="/assets/instagram.png">
                <img src="/assets/browser.png">
                <img src="/assets/youtube.png">
            </div>
        </div>
    </div>
</div>
