<div class="bar">
    <div class="content">
        <img class="logo" src="/assets/logo-nav-bar.png">
        <div class="menu">
            <div class="menu-item">How it Works<span class="material-symbols-outlined icon">expand_more</span></div>
            <div class="menu-item">Product<span class="material-symbols-outlined icon">expand_more</span></div>
            <div class="menu-item">Pricing<span class="material-symbols-outlined icon">expand_more</span></div>
            <div class="menu-item">Resources<span class="material-symbols-outlined icon">expand_more</span></div>
        </div>
        <div class="buttons">
            <div class="button first">Log in</div>
            <div class="button second">Get started free</div>
        </div>
        <div class="menu-btn">
            <span class="material-symbols-outlined ico">menu</span>
            <div class="text">MENU</div>
        </div>
    </div>
</div>
