
@import "mixins";
@import "variables";

:host{
    display:block;
}

.content{
    width:100%;
    text-align: center;
}

.content.left{
   text-align: left; 
}


.title{
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    color:rgba(53, 65, 75, 1);
    width: 100%;
    max-width:436px ;
}

@media screen and (max-width:$max-width-break-point) {
    .title{
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
}

.description{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(78, 90, 101, 1);
    padding: 32px 0;
    width: 100%;
    max-width: 413px;
}


@media screen and (max-width:$max-width-break-point) {
    .description{
        text-align: center;
    }
}

.button{
    display:inline-block;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    padding: 18px 21px;
    border-radius: 4px;
    background-color: rgba(121, 110, 255, 1);
   
}

@media screen and (max-width:$max-width-break-point) {
    .button{
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 56px;
    }
}